<!DOCTYPE HTML>
<html lange="ru">
<link href="/public/css/style.css" rel="stylesheet">
<head>
  <meta charset="utf-8">
  <title>Grade</title>
  <script type="method" src="server.js"></script>
</head>
<body>
    <form method="GET" action="/">
        <fieldset>
            <legend>Оценка по предмету</legend>
            <div>
                <button class="button back" type="submit">Назад</button>
                <label name="finalGrade">Для студента: <%= fio %> <br><br> Итоговый балл: <%= finalGrade %></label>
            </div>  
        </fieldset>
    </form>
</div>

</body>
</html>